<% navItems = [
    {title: 'Shop', link: '/'},
    {title: 'Add Product', link: '/admin/add-product'}
] %>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <% navItems.forEach(item => { %>
                <li class="main-header__item">
                    <a class="<%= path === item.link ? 'active': '' %>" href="<%= item.link %>"><%= item.title %></a>
                </li>
            <% }) %>
        </ul>
    </nav>
</header>