<form action="/cart-delete-item" method="POST" class="fit-content flex-end">
    <input type="hidden" value="<%= product._id %>" name="productId">
    <button class="btn-remove" type="submit"><span class="icon-close cart-icon-close"></span></button>
</form>