<form action="/cart" method="post">
    <input type="hidden" value="<%= product.id %>" name="productId">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn-remove" type="submit"><span class="icon-close cart-icon-close"></span></button>
</form>