@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?at16z6');
    src:  url('fonts/icomoon_iefix.eot?at16z6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?at16z6') format('truetype'),
    url('fonts/icomoon.woff?at16z6') format('woff'),
    url('fonts/icomoon.svg?at16z6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e900";
}